<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GDGSPCheckIn.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GDGSPCheckIn.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseDymo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LabelName" serializeAs="String">
                <value>%s</value>
            </setting>
            <setting name="LabelDate" serializeAs="String">
                <value>Data: %s</value>
            </setting>
            <setting name="LabelDateHour" serializeAs="String">
                <value>Data e hora: %s</value>
            </setting>
            <setting name="LabelEvent" serializeAs="String">
                <value>Evento: %s</value>
            </setting>
        </GDGSPCheckIn.Properties.Settings>
    </userSettings>
</configuration>